body{
    position: relative;
    margin: auto;
}
main{
    margin-bottom: 220px;
}
header{
    height: 70px;
    /*border: 2px solid black;*/
    /*background-color: silver;*/
    
}
.navbar-expand-lg{
    height: 70px;
    background-image: url("https://i.ibb.co/ypwbdps/images-back.jpg" );
    background-size: cover;

}

.navbar-brand{
    font-size: 17px;
}

a{ 
    text-decoration: none;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
}
.nav-link{
    color:blanchedalmond;
}

.navbar-nav{
    margin-top: 1.5%;
}

#icon{
    float: left;
}

/*.myConatiner{
    height: 50px;
    background-image: url("https://i.ibb.co/4jh4Xsz/color.jpg");  
}*/

#search{
    height: 450px;
    /*border: 2px solid orange;*/
    background-image: url("https://i.ibb.co/tmDyLqd/4k-video-footage-of-shelves-stocked-with-various-medicinal-products-in-a-pharmacy.jpg" );
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-size: 100% 500px;
}

.carousel-item > img{
    height: 450px !important;
}

#logo{
    height: 120px;
    width: 120px;
    background-color: #eaeef2;
    border-radius: 50%;
    margin-left: 45%;
    margin-top: 3%;
    position: absolute;
    font-size: 45px;
    color: #0085e3;
    animation:revolve 10s infinite;
}

@keyframes revolve{

    0% {transform:rotate(30deg);}
    25% {transform:rotate(90deg);}
    50% {transform:rotate(180deg);}
    75% {transform:rotate(270deg);}
    100% {transform:rotate(360deg);}
}

#logo > span{
    margin-left:12%;
    margin-top: 20%;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#logo:hover{
    background-color: rgba(255, 255, 255,.5);
    color: purple;
    transform:rotate(270deg);

}



.container{
    width: 40%;
  
   
}
.panel-primary{
   color: blue;
   font-size: 17px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.panel-heading{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}   
label{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.btn-primary{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: dodgerblue;
    font-size: 17px;
    margin-top: 3%;
}

.center{
    margin-left: 40%;
    position: relative;
    margin-bottom: 2%;
}

 textarea {
    width: 100%;
    padding: 12px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
}
 
.modal-header{
    text-align: center;
}

#label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.modal-body{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.modal-footer > .btn{
    margin-top: 2%;
    font-size: 18px;
    text-align: center;  
    
}
.modal-footer > .btn:hover{
    color: blue;
}

footer{
    height: 150px;
    /*border: 2px solid lightseagreen;*/
}

.footer-menu{
    float: left ;
    margin-top: 3%;
    position: relative;
    
}

.footer-menu a{
    color: black;
    padding: 9px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .footer-menu a:hover{
    color: blue;
  }

